@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html{
    font-size: 62.5%;
}
header{
  height: 100vh;
  width: 100%;
  background: url("https://www.teahub.io/photos/full/0-3702_rose-wallpaper-hd-resolution-is-cool-wallpapers-colorful.jpg") no-repeat;
  background-position: center;
}
::selection{
  background: #a3f5ec;
}
header nav{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 12;
}
.navbar{
  width: 90%;
  display: flex;
  margin: 2rem auto 0 auto;
  align-items: center;
  justify-content: space-between;
}

nav .menu{
  display: flex;
}
nav .menu li{
  list-style: none;
  margin: 0 1rem;
}
nav .menu a{
  color: #0a1413;
  font-size: 3rem;
  font-weight: 3rem;
  text-decoration: none;
}
nav .menu a:hover{
  color: #000;
}

.text-content{
  position: absolute;
  top: 33%;
  left: 7%;
  z-index: 12;
}
header .text-content .text{
  font-size: 2.7rem;
  color: #202c58;
}
header .text-content .name{
 color: #6cf80f;
 font-size: 7.5rem;
 font-weight: 600;
 margin: -2rem 0 0 -0.3rem;
 border-color: #000;
}
header .text-content .job{
 color: #202c58;
 font-size: 4rem;
 margin: .5rem 0;
 margin-top: -0.4rem;
 display: flex;
}
.text-content .typing-text{
  margin-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: .4rem solid #f3dd13;
  animation: typing 5s steps(15) infinite;
}
@keyframes typing{
  0%{
    width: 0ch;
  }
  50%{
    width: 18ch;
  }
  100%{
    width: 0ch;
  }
}
.text-content .job .one{
  color: #f3dd13;
  
}
.text-content .job .two{
  color: #f3dd13;
}
.buttons{
  margin: 2rem 0 0 5rem;
}
.text-content .buttons button{
  outline: none;
  margin: 0 1rem;
  border: none;
  border-radius: .6rem;
  font-size: 1.8rem;
  color: #fff;
  padding: .8rem 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #2AFADF     10%, #49ec18 100%);
}
@media(max-width: 998px) {
    html{
        font-size: 55%;
    }
}
@media(max-width: 768px) {
    html{
        font-size: 45%;
    }
}
.buttons button:hover{
  transform: scale(0.97);
}
